  /* Basic styles for accordion */
  .accordion {
    /* Adjust width as per your design */
   margin: 0 auto;
   border: 1px solid #ccc;
   border-radius: 5px;
   overflow: hidden;
}

.accordion-item {
   border-top: 1px solid #ccc;
}

.accordion-header {
   background-color: #f4f7fb;
   padding: 10px 20px;
   cursor: pointer;
   font-weight: bold;

}
.accordion-header.active {
   margin: 5px 18px; /* Apply this margin when active */
   border-radius: 10px; /* Always apply border-radius */

}

.accordion-content {
   padding: 10px 20px;
   display: none; /* Hide content by default */
}
